allowed_admin_cidr = "203.0.113.42/32"
# Valeurs factices de S3 pour permettre au module Security de compiler en attendant Data
s3_primary_bucket_arn = "arn:aws:s3:::fake-primary-bucket"
s3_logs_bucket_arn    = "arn:aws:s3:::fake-logs-bucket"
